<header class="py-3 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      <a routerLink="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <span class="fs-4">Webprogramozás IV.</span>
      </a>
    </div>
  </header>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Kezdőlap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posts">Bejegyzések</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/comments">Hozzászólások</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/todos">Tennivalók</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="d-flex flex-column min-vh-100">
    <router-outlet></router-outlet>
  </div>
  
  <footer class="mt-auto d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="container">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">&copy; 2025 Simon Ferenc - Neptunkód: BNJFSB</span>
      </div>
    </div>
  </footer>
  