<div class="container mt-3">
    <h1 class="fw-bold">Kezdőlap</h1>
    <hr>
    <h5>Feladat</h5>
    <p>A gyakorlati jegy megszerzéséhez beadandó feladatot kell
        készíteni. A feladat fő célja egy szolgáltatásra épülő Angular projekt elkészítése. A
        feladat megoldása során válasszon egy fake API szolgáltatást (ahogyan a gyakorlaton
        is tettük) és 3 erőforráshoz kapcsolódóan készítse el a CRUD műveletek kezelését,
        valamint a kapcsolódó forgalomirányítást.</p>
    <h5>Megvalósítás</h5>
    <p>API szolgáltatás:</p>
    <ul>
        <li>API szolgáltatás:  <a href="https://dummyjson.com/" target="_blank">DummyJSON</a> - (Posts, Comments, Todos)</li>     
    </ul>
    <p>Implementációk:</p>
    <ul>
        <li>CRUD szervízek</li>
        <li>Forgalomirányítás</li>
        <li>Boostrap integrálása</li>
    </ul>
</div>